@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    font-size: x-large;
    font-weight: 700;
    display: inline;
    color: rgb(238, 24, 0);
    padding: 40px;
    
}

#id-pirata {
   display: flex;   
   flex-direction: column;
   justify-content: center;
   align-items: center;

}   

#onepiece {
    height: 142px;
    width: 330px;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Press Start 2P', cursive;
    display: flex;   
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    font-size: 18px;
}

#monkey {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#d:hover {
    background-color: rgba(255, 187, 0, 0.582);
    cursor: pointer;

}

#akagami {
    
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#no:hover {
    background-color: rgba(184, 0, 0, 0.575);
    cursor: pointer;   
}

#ace {
    
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#aceL:hover {
    background-color: rgba(255, 72, 0, 0.616);
    cursor: pointer;
}

.inputP {
    cursor: pointer;
    height: 40px;
}


.tarjetasP {
    display: flex;
    gap: 35px;
}

#imgP {
    border: solid 3px black;
    border-radius: 3%;
}

#pirataJugador {
    padding: 12px;
    color: blue;
}

#pirataPc {
    padding: 12px;
    color: red;
}

.segundaPag {
    display: flex;
    justify-content: center;
    font-size: 28px;
    
}

button {
    display: inline-block;
    height: 40px;
    width: 110px;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
    border-radius: 25px;
    border: 2px, solid, black;
}

button:hover {
    height: 40px;
    width: 110px;
    cursor: pointer;
    background-color: rgba(0, 95, 173, 0.185);
}

#contenedor {
    text-align: center;
}

#mensajes {
    margin: 70px;
}

#contenedorImg {
    text-align: center;
}

#onepieceP {
    height: 142px;
    width: 330px;
    margin-bottom: 30px;
    
}
